.film-info
  display: flex;
  padding: 0 40px 15px;

  &__poster
    width: 220px;
    margin-right: 60px;

  &__info-wrapper
    display: flex;
    flex-direction: column;
    padding: 25px 0;
    color: #d0d0d0;

  &__title-wrapper
    display: flex;
    align-items: center;
    margin-bottom: 5px;

  &__title
    font-weight: bold;
    font-size: 26px;
    color: #f45162;

  &__rating
    font-size: 18px;
    color: #a9d67c;
    border: 1px solid #a9d67c;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-left: 20px;

  &__year-wrapper
    display: flex;
    color: #fff;
    font-weight: bold;
    margin-top: 15px;

  &__year
    margin-right: 30px;

  &__summary
    margin-top: 35px;
    width: 460px;

  &__director
    margin-top: 30px;
    font-size: 12px;

  &__cast
    margin-top: 15px;
    font-size: 12px;
    width: 460px;
